@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/RobotoThin.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/RobotoRegular.ttf");
  font-weight: 500;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  font-weight: normal;
  color: #1d1d1d;
}
.container {
  max-width: 1020px;
  margin: 0 auto;
}
.header {
  background: black;
  border: 1px solid black;
}
.main {
}
.footer {
  background: black;
  padding: 20px 0;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 5px 20px;
  line-height: 20px;
}
.nav-item {
}
.nav-link {
  padding: 0 20px;
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  transition: 0.3s;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
@media (max-width: 765px) {
  .section {
    width: 100%;
  }
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: black;
}
.logo {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 2px solid black;
}
.section-header {
  padding-top: 20px;
}
.section-title_lg {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 20px;
  padding-top: 45px;
  border-bottom: 2px solid black;
}
.footel-legal {
  display: flex;
  flex-wrap: wrap;
}
.footer-link {
  color: white;
  text-decoration: none;
  padding-right: 210px;
}
